body {
  background: #f5f6fa
}

* {
  margin: 0px;
  padding: 0px;
}

.main-color {
  color: #d63031;
  text-transform: uppercase;
  font-weight: bolder;
}

#sidebar {
  z-index: 30;
  position: fixed;
  width: 52px;
  height: 100%;
  background: #d63031;
  left: -200px;
  -webkit-box-shadow: 3px 2px 9px 5px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 3px 2px 9px 5px rgba(0, 0, 0, 0.64);
  box-shadow: 3px 2px 9px 5px rgba(0, 0, 0, 0.64);
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  color: rgba(201, 4, 168, 0.9);
  list-style: none;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.logo {
  max-width: 50px;
  margin-left: -9px;
}

.logo:hover {
  transition: 0.5s;
  -webkit-filter: invert(2);
}

.nav-bar-logo {
  max-width: 30px;
}

.nav-bar-logo:hover {
  transition: 0.5s;
  -webkit-filter: invert(2);
}

a {
  font-weight: bold;

  color: rgba(255, 255, 255, 0.9);
}

a:link {
  text-decoration: none;

}

#sidebar .toggle-btn {
  position: absolute;
  left: 200px;
  top: 20px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  border: 3px solid #000;
}

.article {
  margin-left: 55px;
}

.div-imagen {
  /* display:inline-block; */
  position: relative;
}

.div-imagen>div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px;
  margin: 50px;
}

.paragraf-box {
  /* display:inline-block; */
  position: relative;
}

.paragraf-box>div {
  position: absolute;
  top: 70%;
  left: 0%;
  z-index: 3;
  padding: 0;
  margin: 1rem;
}

.vanish:hover {
  transition: 500ms;
  transform: scale(1.2);
  opacity: 0.1;
}

/* ALLCHAMPS.JSX */
.square-champ {
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.79);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.79)
}

.bg-main {
  background-color: #dcdde1;
}

.champ-text {
  color: #d63031;
  font-weight: 800;
  font-size: 1em;
}

.champ-text:hover {
  transition: 0.5s;
  -webkit-filter: blur(2px);
}

/* SUMMONER.JS */
.main-champ-wallpaper {
  max-width: 500px;
  border: 1px solid #d63031;
  border-radius: 1%;
  margin: 5px;
}

.summoner-handler {
  padding: 1rem;
}

.input-summoner {
  width: 90%;
  padding: 8px;
  border: 2px solid #d63031;
  border-radius: 10px;

  font-weight: bolder;
}

.btn-main {
  background-color: #d63031;
  font-weight: bolder;
  color: #f5f6fa;
  margin-left: 1rem;
}

.summonerimg {
  max-width: 10rem;
  border: 3px solid #d63031;
  border-radius: 90%;
}

.summoner-img-box {
  position: relative;

}

.summoner-lvl {
  z-index: 4;
  position: absolute;
  padding: 4.1rem;
  margin-top: 4.5rem;
}

.lvl-text {
  color: #f5f6fa;
  background: #d63031;
  border-radius: 10%;
}

.summonerName {
  font-weight: bolder;
}

.emblem-rank{
  max-width: 8rem;
}

.loqesea{
  padding:3px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-transform: capitalize;
  text-align: center;
  border:1px solid #b2bec3 ;
  border-radius: 5px;
  font-size: small;
  text-align: left;
}

.soloQ{
  color: #d63031;
  font-weight: bold;
}

.text-division{
  text-align: left;
  font-weight: bold;
  font-size: small;
  margin: 3px;
}

lol{
  font-weight: lighter;
}

.text-wandl{
  font-weight: bold;
  font-size: 15px;
  margin: 3px;
}

.text-victory-percent{

}

.charge-logo {
  max-width: 200px;
  margin-left: 39%;
  padding: 1rem;
}

.charge-logo:hover {
  transition: 0.5s;
  -webkit-filter: blur(2px);
}

.mastery-points-card {
  border: 2px solid #d63031;
  border-radius: 5%;
  max-width: 150px;
  margin: 1rem;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 1);
}

.mastery-points-card>img {
  border-radius: 50%;
}

.mastery-level {
  text-align: center;
  font-weight: bolder;
  color: #d63031;
}

.mastery-points {
  font-weight: bolder;
  color: #d63031;
  text-align: center;
}

/* SLIDER.JSX */
.img-header {
  max-width: 100%;
  position: relative;
  margin-left: -3px;
}

.up-image {
  position: absolute;
  top: -4rem;
  left: 11rem;
  z-index: 3;
  padding: 0;
  margin: 20rem;
}

.paragraph {
  font-style: italic;
  font-size: larger;
}

/* FOOTER.JS */
.bg-footer {
  margin-left: -0.5rem;
  padding: 0.5rem;
  background-color: #d63031;
  margin-top: auto;
  width: 100%;
}

.footer-logo>img {
  max-width: 120px;
  margin-left: 6rem;
}

.footer-logo>img:hover {
  transition: 0.5s;
  -webkit-filter: invert(2);
}

.social-icon {
  width: 45px;
  height: 45px;
  margin-left: 1rem;
}

.social-icon:hover {
  transition: 0.5s;
  -webkit-filter: invert(2);
}

/* CHAMPR */
.textTest {
  margin-left: -70px;
}

.new-champ-art {
  margin: 1rem;

}

.new-champ-art>img {
  border: 3px solid #d63031;
  max-width: 90%;
}

.champs-rotation {
  margin: 0;
  padding: 0.5rem;
  max-width: 120px;
}

.story-box {
  margin: 0;
}

.champ-title {
  color: #f5f6fa;
  text-transform: uppercase;
  text-align: left;
  font-weight: bolder;
  font-size: 2.2rem;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px #0abde3;
}

.champ-slogan {
  color: #f5f6fa;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px #0abde3;
}